# Data Preparation

In [15]:
import pandas as pd
import json

## Reading Data

In [2]:
raw_df = pd.read_csv('../data/01_raw/roraima_with_procedures.csv')

In [3]:
raw_df.head()

,quantidade_procedimentos,mes,ano,sigla_uf,valor_ato_profissional,id_municipio_estabelecimento_aih,id_municipio_paciente,id_procedimento_principal
0,1,2,2023,RR,1317.32,1400100,140010,408050063
1,2,2,2023,RR,0.00,1400100,140010,408050063
2,2,2,2023,RR,0.00,1400100,140010,408050063
3,1,2,2023,RR,12.39,1400100,140010,408050063
4,2,2,2023,RR,0.00,1400100,140010,408050063

In [4]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2459018 entries, 0 to 2459017
Data columns (total 8 columns):
 #   Column                            Dtype
---  ------                            -----
 0   quantidade_procedimentos          int64
 1   mes                               int64
 2   ano                               int64
 3   sigla_uf                          object
 4   valor_ato_profissional            float64
 5   id_municipio_estabelecimento_aih  int64
 6   id_municipio_paciente             int64
 7   id_procedimento_principal         int64
dtypes: float64(1), int64(6), object(1)
memory usage: 150.1+ MB

# Converting Ids to Strings

In [5]:
raw_df['id_municipio_estabelecimento_aih'] = raw_df['id_municipio_estabelecimento_aih'].astype(str)
raw_df['id_municipio_paciente'] = raw_df['id_municipio_paciente'].astype(str)
raw_df['id_procedimento_principal'] = raw_df['id_procedimento_principal'].astype(str)
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2459018 entries, 0 to 2459017
Data columns (total 8 columns):
 #   Column                            Dtype
---  ------                            -----
 0   quantidade_procedimentos          int64
 1   mes                               int64
 2   ano                               int64
 3   sigla_uf                          object
 4   valor_ato_profissional            float64
 5   id_municipio_estabelecimento_aih  object
 6   id_municipio_paciente             object
 7   id_procedimento_principal         object
dtypes: float64(1), int64(3), object(4)
memory usage: 150.1+ MB

## Removing id_municipio_estabelecimento_aih digit

In [6]:
raw_df['id_municipio_estabelecimento_aih'] = raw_df['id_municipio_estabelecimento_aih'].apply(lambda x: x[:-1])
raw_df

,quantidade_procedimentos,mes,ano,sigla_uf,valor_ato_profissional,id_municipio_estabelecimento_aih,id_municipio_paciente,id_procedimento_principal
0,1,2,2023,RR,1317.32,140010,140010,408050063
1,2,2,2023,RR,0.00,140010,140010,408050063
2,2,2,2023,RR,0.00,140010,140010,408050063
3,1,2,2023,RR,12.39,140010,140010,408050063
4,2,2,2023,RR,0.00,140010,140010,408050063
...,...,...,...,...,...,...,...,...
2459013,12,8,2020,RR,0.00,140010,140010,303140151
2459014,12,8,2020,RR,115.20,140010,140010,303110040
2459015,12,8,2020,RR,96.00,140010,140047,303010223
2459016,12,8,2020,RR,115.20,140010,140010,303100044
2459017,12,8,2020,RR,0.00,140010,140010,303100044

## Filtering Cities by States of Roraima and Amazonas

In [8]:
filtered_df =raw_df[
        (raw_df['id_municipio_paciente'].str.startswith('14','13'))]

filtered_df

,quantidade_procedimentos,mes,ano,sigla_uf,valor_ato_profissional,id_municipio_estabelecimento_aih,id_municipio_paciente,id_procedimento_principal
0,1,2,2023,RR,1317.32,140010,140010,408050063
1,2,2,2023,RR,0.00,140010,140010,408050063
2,2,2,2023,RR,0.00,140010,140010,408050063
3,1,2,2023,RR,12.39,140010,140010,408050063
4,2,2,2023,RR,0.00,140010,140010,408050063
...,...,...,...,...,...,...,...,...
2459013,12,8,2020,RR,0.00,140010,140010,303140151
2459014,12,8,2020,RR,115.20,140010,140010,303110040
2459015,12,8,2020,RR,96.00,140010,140047,303010223
2459016,12,8,2020,RR,115.20,140010,140010,303100044
2459017,12,8,2020,RR,0.00,140010,140010,303100044

In [14]:
# outliers percentage
outliers_percent = 100*(1-(filtered_df.shape[0]/raw_df.shape[0]))
outliers_percent

0.46018369934665015

In [10]:
filtered_df['id_municipio_paciente'].unique()

array(['140010', '140017', '140045', '140060', '140002', '140040',
       '140047', '140020', '140028', '140050', '140030', '140005',
       '140015', '140070', '140023'], dtype=object)

## Mapping City Names

In [27]:
mapping_df = filtered_df.copy()

city_data = pd.read_json('../data/01_raw/cities.json')
city_data['id'] = city_data['id'].astype(str)

city_names = city_data.set_index('id')['city'].to_dict()
mapping_df['municipio_paciente'] = mapping_df['id_municipio_paciente'].map(city_names)
mapping_df['municipio_paciente'].unique()

array(['Boa Vista', 'Canta', 'Pacaraima', 'São Luiz', 'Amajari',
       'Normandia', 'Rorainopolis', 'Caracarai', 'Iracema',
       'Sao Joao da Baliza', 'Mucajai', 'Alto Alegre', 'Bomfim',
       'Uiramuta', 'Caroebe'], dtype=object)

## Mapping Procedure Names

In [28]:
procedure_names = pd.read_csv('../data/01_raw/procedure_names.csv')

{'140010': 'Boa Vista',
 '140015': 'Bomfim',
 '140040': 'Normandia',
 '140060': 'São Luiz',
 '140020': 'Caracarai',
 '140050': 'Sao Joao da Baliza',
 '140023': 'Caroebe',
 '140045': 'Pacaraima',
 '140005': 'Alto Alegre',
 '140047': 'Rorainopolis',
 '140030': 'Mucajai',
 '140017': 'Canta',
 '140002': 'Amajari',
 '140028': 'Iracema',
 '130060': 'Benjamin Constant',
 '211000': 'Santa Luzia',
 '140070': 'Uiramuta',
 '130260': 'Manaus',
 '270030': 'Arapiraca',
 '160050': 'Oiapoque',
 '130040': 'Barcelos',
 '230440': 'Fortaleza',
 '520800': 'Formosa',
 '330340': 'Nova Friburgo',
 '130390': 'São Paulo de Olivenca',
 '130356': 'Rio Preto da Eva',
 '430180': 'Barracao',
 '171800': 'Porto Alegre do Tocantins',
 '520005': 'Abadia de Goias',
 '150503': 'Novo Progresso',
 '251640': 'Tacima',
 '130170': 'Humaita',
 '120034': 'Manoel Urbano',
 '315420': 'Resende Costa',
 '230540': 'Ico',
 '130063': 'Beruri',
 '316110': 'São Francisco',
 '150360': 'Itaituba',
 '520870': 'Goiania',
 '313940': 'Manhuacu',
 '240810': 'Natal',
 '130420': 'Tefe',
 '130353': 'Presidente Figueiredo',
 '431560': 'Rio Grande',
 '313740': 'Lagoa Dourada',
 '521250': 'Luziania',
 '220260': 'Castelo do Piaui',
 '431420': 'Pedro Osorio',
 '130250': 'Manacapuru',
 '292400': 'Paulo Afonso',
 '130130': 'Codajas',
 '350550': 'Barretos',
 '350950': 'Campinas',
 '130380': 'Sao Gabriel da Cachoeira',
 '110020': 'Porto Velho',
 '172100': 'Palmas',
 '230730': 'Juazeiro do Norte',
 '110030': 'Vilhena',
 '130320': 'Novo Airao',
 '312770': 'Governador Valadares',
 '522045': 'Senador Canedo',
 '431490': 'Porto Alegre',
 '293077': 'Sobradinho',
 '130410': 'Tapaua',
 '355070': 'Sao Sebastiao',
 '120070': 'Xapuri',
 '421125': 'Morro Grande',
 '120040': 'Rio Branco',
 '150080': 'Ananideua',
 '315670': 'Sabara',
 '510760': 'Rondonopolis'}

In [20]:
city_names

{0: {'id': '140010', 'city': 'Boa Vista'},
 1: {'id': '140015', 'city': 'Bomfim'},
 2: {'id': '140040', 'city': 'Normandia'},
 3: {'id': '140060', 'city': 'São Luiz'},
 4: {'id': '140020', 'city': 'Caracarai'},
 5: {'id': '140050', 'city': 'Sao Joao da Baliza'},
 6: {'id': '140023', 'city': 'Caroebe'},
 7: {'id': '140045', 'city': 'Pacaraima'},
 8: {'id': '140005', 'city': 'Alto Alegre'},
 9: {'id': '140047', 'city': 'Rorainopolis'},
 10: {'id': '140030', 'city': 'Mucajai'},
 11: {'id': '140017', 'city': 'Canta'},
 12: {'id': '140002', 'city': 'Amajari'},
 13: {'id': '140028', 'city': 'Iracema'},
 14: {'id': '130060', 'city': 'Benjamin Constant'},
 15: {'id': '211000', 'city': 'Santa Luzia'},
 16: {'id': '140070', 'city': 'Uiramuta'},
 17: {'id': '130260', 'city': 'Manaus'},
 18: {'id': '270030', 'city': 'Arapiraca'},
 19: {'id': '160050', 'city': 'Oiapoque'},
 20: {'id': '130040', 'city': 'Barcelos'},
 21: {'id': '230440', 'city': 'Fortaleza'},
 22: {'id': '520800', 'city': 'Formosa'},
 23: {'id': '330340', 'city': 'Nova Friburgo'},
 24: {'id': '130390', 'city': 'São Paulo de Olivenca'},
 25: {'id': '130356', 'city': 'Rio Preto da Eva'},
 26: {'id': '430180', 'city': 'Barracao'},
 27: {'id': '171800', 'city': 'Porto Alegre do Tocantins'},
 28: {'id': '520005', 'city': 'Abadia de Goias'},
 29: {'id': '150503', 'city': 'Novo Progresso'},
 30: {'id': '251640', 'city': 'Tacima'},
 31: {'id': '130170', 'city': 'Humaita'},
 32: {'id': '120034', 'city': 'Manoel Urbano'},
 33: {'id': '315420', 'city': 'Resende Costa'},
 34: {'id': '230540', 'city': 'Ico'},
 35: {'id': '130063', 'city': 'Beruri'},
 36: {'id': '316110', 'city': 'São Francisco'},
 37: {'id': '150360', 'city': 'Itaituba'},
 38: {'id': '520870', 'city': 'Goiania'},
 39: {'id': '313940', 'city': 'Manhuacu'},
 40: {'id': '240810', 'city': 'Natal'},
 41: {'id': '130420', 'city': 'Tefe'},
 42: {'id': '130353', 'city': 'Presidente Figueiredo'},
 43: {'id': '431560', 'city': 'Rio Grande'},
 44: {'id': '313740', 'city': 'Lagoa Dourada'},
 45: {'id': '521250', 'city': 'Luziania'},
 46: {'id': '220260', 'city': 'Castelo do Piaui'},
 47: {'id': '431420', 'city': 'Pedro Osorio'},
 48: {'id': '130250', 'city': 'Manacapuru'},
 49: {'id': '292400', 'city': 'Paulo Afonso'},
 50: {'id': '130130', 'city': 'Codajas'},
 51: {'id': '350550', 'city': 'Barretos'},
 52: {'id': '350950', 'city': 'Campinas'},
 53: {'id': '130380', 'city': 'Sao Gabriel da Cachoeira'},
 54: {'id': '110020', 'city': 'Porto Velho'},
 55: {'id': '172100', 'city': 'Palmas'},
 56: {'id': '230730', 'city': 'Juazeiro do Norte'},
 57: {'id': '110030', 'city': 'Vilhena'},
 58: {'id': '130320', 'city': 'Novo Airao'},
 59: {'id': '312770', 'city': 'Governador Valadares'},
 60: {'id': '522045', 'city': 'Senador Canedo'},
 61: {'id': '431490', 'city': 'Porto Alegre'},
 62: {'id': '293077', 'city': 'Sobradinho'},
 63: {'id': '130410', 'city': 'Tapaua'},
 64: {'id': '355070', 'city': 'Sao Sebastiao'},
 65: {'id': '120070', 'city': 'Xapuri'},
 66: {'id': '421125', 'city': 'Morro Grande'},
 67: {'id': '120040', 'city': 'Rio Branco'},
 68: {'id': '150080', 'city': 'Ananideua'},
 69: {'id': '315670', 'city': 'Sabara'},
 70: {'id': '510760', 'city': 'Rondonopolis'}}

In [ ]:
df['id_municipio_estabelecimento_aih'].unique()

array([1400100, 1400159, 1400407, 1400605, 1400209, 1400506, 1400233,
       1400456, 1400050, 1400472, 1400308])

In [ ]:
df['id_municipio_paciente'].unique()

array([140010, 140017, 140045, 140060, 140002, 140040, 140047, 140020,
       140028, 140050, 140030, 140005, 140015, 130060, 211000, 140070,
       140023, 130260, 270030, 160050, 130040, 230440, 520800, 330340,
       130390, 130356, 430180, 171800, 520005, 150503, 251640, 130170,
       120034, 315420, 230540, 130063, 316110, 150360, 520870, 313940,
       240810, 130420, 130353, 431560, 313740, 521250, 220260, 431420,
       130250, 292400, 130130, 350550, 350950, 130380, 110020, 172100,
       230730, 110030, 130320, 312770, 522045, 431490, 293077, 130410,
       355070, 120070, 421125, 120040, 150080, 315670, 510760])